@import url(shophead.css);
body{
    background-color: rgb(44, 6, 80);
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(50, 50, 80);
    color: white;
    border: solid 3px cyan;
    border-radius: 20px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.gamer{
    border: solid 2px cyan;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.foton{
    border-radius: 20px;
}
section{
    display: flex;
}
.iconos{
   width: 15px;
}