@import url(shophead.css);
@import url(/CSS/footer.css);
body{
    background-color: rgb(55, 3, 53)
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(50, 50, 80);
    color: white;
}
.objeto{
    height: 345px;
    border-radius: 5px;
}
.compra{
  background-color: cyan;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: white;
}
.compra:hover{
  background-color: fuchsia;
}
.nxtpag{
  border: solid 2px cyan;
}
.nxt{
  border: solid 2px cyan;
  border-radius: 5px;
  background-color: rgb(50, 50, 80)
}
.nxt:hover{
  background-color: fuchsia;
}


